@import "bootstrap/dist/css/bootstrap.css";
body {
    /* fallback for old browsers */
    background: #6a11cb;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }
  
/* UserDetails.css */


body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding-top: 50px;
}

.user-details-container {
  max-width: 8000px ;
  width: 130%;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

p {
  margin: 8px 0;
  color: #666;
}

/* Add these styles for the floating-point button in the top-right corner */
.floating-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.floating-button:hover {
  background-color: #0056b3;
}

